########################################################################
#
#       Licensed Materials - Property of IBM
#       
#       
#       
#        ( C )  Copyright IBM Corp. 2004, 2006. All Rights Reserved
#       
#       US Government Users Restricted Rights - Use, duplication
#       or disclosure restricted by GSA ADP Schedule Contract
#       with IBM Corp.
#
#
# Ident: $Id: ericsson_BNSI.rules 1.11 2004/04/19 14:19:14 smilne Development $
#
#######################################################################
#
# The following example tokens are provided by the probe
# These are all the defined attributes of BNSI
#RecordType=1
#ObjectOfReference=Tjotahejti
#NetworkOfReference=World
#EventTime=19980421190430
#EventType=2
#PerceivedSeverity=1
#ProbableCause=1
#SpecificProblem=2
#ObjectTimeZone=MET
#AlarmNumber=1
#NotificationIdentifier=9
#StateChange=2
#ObjectClassOfReference=NE
#BackupObjectInstance=Langtbortistan
#BackupStatus=1
#ProposedRepairAction=1
#TrendIndication=1
#Acknowledge=1
#ThresholdIndication=3
#ThresholdInfo=ANF greater than 1
#MonitoredAttribute=A
#MonitoredAttributeValue=2
#AdditionalText
#
#Additional text is also available in numbered tokens for each row
#AdditionalTextLine_00
#AdditionalTextLine_01 etc
############################################################

####################################
#
#	Arrays
#
####################################
array SplitArray

####################################
#
# Lookup Includes
#
####################################

include "$OMNIHOME/probes/includes/BNSI_eventType.lookup"
include "$OMNIHOME/probes/includes/BNSI_probableCause.lookup"
include "$OMNIHOME/probes/includes/BNSI_specificProblem.lookup"
include "$OMNIHOME/probes/includes/BNSI_other.lookup"

####################################
#
#	Probwatch Code
#
####################################
if (  match (  @Manager, "ProbeWatch"  )   ) 
{
        switch ( @Summary ) 
        {
        case "Running ...":
                @Severity = 1
                @AlertGroup = "probestat"
                @Type = 2
		@Class=1250

        case "Going Down ...":
                @Severity = 5
                @AlertGroup = "probestat"
                @Type = 1
		@Class=1250

        default:
                @Severity = 1
		@Class=1250
        }
        @AlertKey = @Agent
        @Summary = @Agent + " probe on " + @Node + ": " + @Summary
}
else
####################################
#
#	Main Event Rules
#
####################################
{

	@Class=1250	
	$NumSplit = split($ObjectOfReference, SplitArray, ",")
	@Manager = "ERICSSON"
	@OmcEms = "ERICSSON"
	@Agent =    "Navigator  @" + hostname (  ) 
	@Domain = "IN"

	@AddText = $ProbableCauseText
	@URL = $ObjectOfReference
	@EventType = $EventTypeText
	
#	 @AlertGroup = $ProbableCauseText
	 @AlertGroup = $EventTypeText
	 
#	 @AlertKey = $SpecificProblemText
	 @AlertKey = $AlarmNumber
	
	@Summary = $SpecificProblemText
	@Severity = lookup ( $PerceivedSeverity, PerceivedSeverity_t ) 
	 switch ( $PerceivedSeverity ) 
	 {
	 	case "0": # Problem events
			@Type = 1

		case "5": # Resolution events
			@Severity = 1
			@Type = 2

		default:
			@Type = 1
	}

	@Node = $ObjectOfReference
	@NodeAlias = $ObjectOfReference
	   
	if ( exists ( $EventTime )  ) 
	{
		@FirstOccurrence=datetotime ( $EventTime, "%Y%m%d%H%M%S" ) 
		@LastOccurrence=datetotime ( $EventTime, "%Y%m%d%H%M%S" ) 
	}
	else
	{
		@Summary="Unknown Event Type"
		@FirstOccurrence = getdate
	}


	@Identifier =  @Node + " " + $SpecificProblemText + " "  + $ProbableCauseText 

		
	
}
details ( $* ) 
