
	if (regmatch(@Summary, ".*Equipment Mal Function: Affected MOC TGAL.*"))
	{
		@EventId = "NET_CORE_DEF_001"
	}
	else if (regmatch(@Summary, ".*Communications Protocol Error Failure: Affected MOC TGAL, MOI CLASS=CCSTGAL.*"))
	{
		@EventId = "NET_CORE_DEF_001"

	}


###Set EventType to Critical Threshold Alarm###

	if (regmatch(@Summary, ".*DTYPE=LUPSUCC; Affected MOC ADMINAL, MOI CLASS=THRES.*"))
	{
		@EventId = "NET_CORE_DEF_001"
        }else if (regmatch(@Summary, ".*DTYPE.*"))
		{
		@EventId = "NET_CORE_DEF_001"
		}

###Set EventType to Critical Threshold Alarm###

	if (regmatch(@Summary, ".*CLASS=LTG.*"))
	{
		@EventId = "NET_CORE_DEF_001"
	}
	else if (regmatch(@Summary, ".*Affected MOC MMLADC.*"))
	{
		@EventId = "NET_CORE_DEF_001"
	}

	if (regmatch (@Summary, ".*Affected MOC Q3ADC.*"))
	{
		@EventId = "NET_CORE_DEF_001"
        }
	else if (regmatch(@Summary, ".*Affected MOC NE_TCP_LINK.*"))
	{
		@EventId = "NET_CORE_DEF_001"
        }

	 if (regmatch(@Summary, ".*MOI CLASS = LTG.*"))	{                @EventId = "NET_CORE_DEF_001"	}


	if (regmatch (@Summary, ".*Affected MOC CU.*"))	{		@EventId = "CRIT_HW_001"	}
	else if (regmatch (@Summary,".* Affected MOC CP FAILURE.*")){                @EventId = "CRIT_HW_001"        }

if (regmatch (@Summary,".*Affected MOC SYOP.*")) {                @EventId = "CRIT_HW_001"        }
else if (regmatch (@Summary,".*Affected MOC MCH FAILURE.*"))  {             @EventId = "CRIT_HW_001"      }
if (regmatch (@Summary,".*Affected MOC MPU.*")){                @EventId = "CRIT_HW_001"      }
else if (regmatch (@Summary,".*Affected MOC LIC.*")){                @EventId = "CRIT_HW_001"      }
if (regmatch (@Summary,".*Affected MOC AMX.*")){                @EventId = "CRIT_HW_001"      }
else if (regmatch (@Summary,".*Affected MOC ATMBU.*")){                @EventId = "CRIT_HW_001"      }
if (regmatch (@Summary,".*Affected MOC CCG.*")){                @EventId = "CRIT_HW_001"      }
else if (regmatch (@Summary,".*Affected MOC RECOV.*")){                @EventId = "CRIT_HW_001"      }
if (regmatch (@Summary, ".*Affected MOC Disk device.*")){                @EventId = "CRIT_HW_001"		     }
else if (regmatch (@Summary,".*Affected MOC MB.*")){                @EventId = "CRIT_HW_001"      }
if (regmatch (@Summary,".*Affected MOC ACCG.*")){                @EventId = "CRIT_HW_001"      }
else if (regmatch (@Summary,".*Affected MOC SN.*")){                @EventId = "CRIT_HW_001"      }
if (regmatch (@Summary,".*Affected MOC Logical backup storage.*")){                @EventId = "CRIT_HW_001"      }
else if (regmatch (@Summary,".*AAffected MOC DLU.*")){                @EventId = "CRIT_HW_001"      }
if (regmatch (@Summary,"Affected MOC LNLCKOUT, MOI CLASS=PBX LAC=.*")){                @EventId = "NET_C7_004"      }


	if (regmatch (@Summary,"Alarm Input Interface=.*"))	{                        		@EventId = "NET_CORE_ENV_001"	}
	else if (regmatch (@Summary,"Affected MOC Alarm Input Interface"))	{             @EventId = "NET_CORE_ENV_001"

# MihaiStrava 02/03/2011
             if (regmatch (@Summary,"MOI Alarm Input Interface") && regmatch (@Summary,"Main Power"))              {                 @EventId = "DEFAULT"             }


        }


	
	if (regmatch($upper_summary, "MAIN POWER") Or regmatch($upper_summary, "KESC MAIN FAILURE") Or regmatch($upper_summary, "POWER PROBLEM") Or regmatch($upper_summary, "COMMERCIAL POWER FAILURE") Or regmatch($upper_summary, "WAPDA FAILURE") Or regmatch($upper_summary, "COMMERCIAL POWER BY WAPDA HAS FAILED"))
	{

		@TTHibernate = 0
		@EventId = ""
	}



